<footer>
    <div>
        <h3> <%=footerName%> </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere rem molestias eaque doloremque nam ducimus, rerum reiciendis veniam laudantium aliquam assumenda quod! Nostrum eos molestiae eum quasi facilis dolorem nam.</p>
    </div>
</footer>