.withHeight{
    width:400px ;
    height: 400px;
}
.center{
    left: 50%;
    top: 30%;
}


*{
    box-sizing: border-box;
}

.scene{
   @extend .withHeight;
    perspective: 600px;


        &>.cube{
            display: flex;
            flex-wrap : wrap;
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            text-align: center;
        //    transform: rotateX(80deg);
            transition-duration: 3s;


                 &.cube>.face{
                    height: 200px;
                    width: 200px;
                    position: absolute;
                    border: 1px solid black;
                    @extend .center;

                }
                &>.face-front{ transform: rotateY(0deg) translateZ(100px);}
                &>.face-back{transform: rotateY(90deg)   translateZ(100px);}
                &>.face-right{transform: rotateY(180deg) translateZ(100px);}
                &>.face-left{transform: rotateY(-90deg) translateZ(100px);}
                &>.face-top{transform: rotateX(90deg) translateZ(100px);}
                &>.face-bottom{transform: rotateX(-90deg) translateZ(100px);}


                &{
                    @for $var from 0 to 8 {
                        .face#{$var+1} {
                            
                            @if $var+1 == 4 {
                                transform:rotateX(180deg);
                            } 
                            @else {
                                 transform: rotateY(90deg);
                            }
                           
                            
                        }
                        
                    }
                    
                }

        }
}


