.smoke{
    position: absolute;
    bottom: 40px;
    left: 50%;

}

.smoke span{
    display: block;
    position: absolute;
    border: 40px solid rgb(119, 112, 112);
    height: 0;
    width: 0;
    bottom: -40px;
    left: -20px;
    border-radius: 40px;
    opacity: 0;
    

}





@keyframes smokeleft{
    0%{
        transform: scale(0.2) translate(0,0);
    }
    20%{
        opacity: 1;
        transform: scale(0.50) translate(0,-5px);
    }
    100%{
        opacity: 0;
        transform: scale(1) translate(-20px,-140px);
    }
}




@keyframes smokeright{
    0%{
        transform: scale(0.2) translate(0,0);
    }
    20%{
        opacity: 1;
        transform: scale(0.5) translate(0,-5px);
    }
    100%{
        opacity: 0;
        transform: scale(1) translate(20px,-140px);
    }
}

.s1{
    animation-name:smokeleft ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}

.s2{
    animation-name:smokeright ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}


.s3{
    animation-name:smokeleft ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.s4{
    animation-name:smokeright ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 4s;
}

.s4{
    animation-name:smokeleft ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 5s;
}

.s5{
    animation-name:smokeright ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 6s;
}

.s7{
    animation-name:smokeleft ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 7s;
}
.s8{
    animation-name:smokeright ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 8s;
}
.s9{
    animation-name:smokeleft ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 9s;
}
.s10{
    animation-name:smokeleft ;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    animation-delay: 10s;
}