
.container{
    height: 200px;
    width: 200px;
    background-color: black;
    position: relative;
}

#ball{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: blanchedalmond;
    border-radius: 50%;
    left: 90px;
}