*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin: 10px;
   text-align: center;
   position: sticky;
   top: 5px;
  
}

nav > ul > li {
   display: inline-block; 
    
    width: 100px;
    height: 30px;
    background-color: gray;
    text-align: center;
    padding-top: 7px;
    border-radius: 0 5px 0 5px;
}

nav > ul > li > a{
    text-decoration: none;
    display: block;              /* hier do it ganz area able */
    color: white;
    
}


nav > ul > li:hover{

    background-color: darkorange;
    box-shadow: 5px 5px 5px ;
    font-size: 18px;
    padding-top: 5px;   /* in vase ine ke hover mishe box tekon nakhore */
    
}