<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is a shared content
    <h2>about</h2>
    <div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque libero cum accusantium delectus quo aliquam explicabo dolore voluptatem animi consequatur facere vel tempore debitis deleniti eos sequi, veritatis commodi at!</p>
    </div>
    <a href="/home"> Go to home</a>
</body>
</html>