<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    this is a shared content
    <form method="GET" action="/contact">
        <input placeholder="firstName" type="text" name="fname" id="">
        <br>
        <input placeholder="lastName" type="text" name="lname" id="">
        <br>
        <input placeholder="Email" type="email" name="email" id="">
        <br>
        <textarea placeholder="massege" name="msg" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="send">
    </form>
</body>

</html>