<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/someCss">
</head>
<body>
    this is a shared content

    <h2>index</h2>
    <div>
        <h4>you are at home</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quae voluptatum ipsum aperiam optio cupiditate temporibus perspiciatis esse similique possimus minus error tempora doloremque, alias vitae. Blanditiis dicta maiores facilis!</p>
    </div>
    <a href="/about">Go to about</a>
</body>
</html>