.sharedclass{
    color: red;
    font-size: 50px;

}

.extendedclass{
    @extend .sharedclass;
    border: 5px solid green;
    &>div>span{
        @extend .sharedclass;
        margin: auto;
        display: block;
    }
}