<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML CSS Summerize</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/Css">
</head>
<body>
    <nav>
        <!-- ul>li*5>a -->
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="/homeContact">Contact</a></li>
        </ul>
    </nav>
    <div class="banner"></div>
    <!-- div.cards>h2+div.cards-container>div*3>div.card-head+div.card-content -->
    <div class="cards">

      
         
       <h2>Section Title</h2>
        <div class="cards-container">
            <div class="card">
                <div class="card-head">
                    <h3>card1 title</h3>
                </div>
                <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos earum dolorem vitae deserunt deleniti accusamus. Qui ipsum culpa nobis voluptate a vero quod sit magni atque porro! Ratione, fugit placeat?</div>
            </div>
            <div class="card">
                <div class="card-head">
                    <h3>card2 title</h3>
                </div>
                <div class="card-content">Distinctio sunt blanditiis omnis, ratione placeat enim ipsa magnam! Modi laboriosam sapiente iste provident blanditiis earum, velit commodi accusantium adipisci alias ipsum nesciunt consequatur voluptatem est! Tempora, qui eveniet! Iure!</div>
            </div>
            <div class="card">
                <div class="card-head">
                    <h3>card3 title</h3>
                </div>
                <div class="card-content">Dicta aperiam porro nihil aliquid. Ipsa consequuntur perspiciatis tempore dolorum dolores excepturi necessitatibus culpa minus saepe non voluptates voluptatibus molestiae qui, fuga ratione sit similique quae ducimus incidunt, cum officia.</div>
            </div>
        </div> 
      
    </div>
    <div class="footer">
        <div class="section">
            <div class="logo-container">
                <img src="/imglogo" alt="">
            </div>
            <div class="contact-container">
                <ul>
                    <li><a href="#" ><i class="far fa-envelope"></i> info@digitalcareerinstitute.org</a></li>
                    <li><a href="#" ><i class="fas fa-phone-alt"></i> 015211336008</a></li>
                    <li><a href="https://www.digitalcareerinstitute.org" ><i class="fas fa-globe"></i> https://www.digitalcareerinstitute.org</a></li>
                </ul>
            </div>

        </div>
        <div class="section">
            <ul class="social">
                <li><a href="#"><i class="fab fa-facebook-square"></i> facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-youtube-square"></i> youtube</a></li>
            </ul>
        </div>
        <div class="section">
            <div class="input-container">
                <input type="text" placeholder="Name">
            </div>
            <div class="input-container">
                <input type="text" placeholder="Subject">
            </div>
            <div class="input-container">
                <textarea  cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <button class="footer-btn">Send</button>
        </div>
    </div>
</body>
</html>