<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>

    <h2>hallo i am ejs</h2>

    <%fruits.forEach (fruit =>{%>
    <div class="fruitContainer">
        <h2><%=fruit%></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus reiciendis veniam ex nostrum optio doloremque, fuga quisquam corrupti distinctio nam est cumque itaque minima quam ad et ratione iste? Doloribus.</p>
    </div>
<%})%>

//================= footer==================
<%- include('../partials/footer' , {footerName : 'someFooter'}) -%>


</body>
</html>